contactMappings=["birthday\=","facebookSn\=","jabberSn\=","skypeSn\=","smsSn\=","twitterSn\="]
groupSearchFilterEnabled="true"
authSearchFilter="(mail\=@email_address@)"
userIgnoreAttributes=""
baseProviderURL="ldap://localhost:10389"
baseDN="o\=sevenSeas"
securityPrincipal="uid\=admin,ou\=system"
serverName="learnfun"
ldapServerId="0"
userSearchFilter="(objectClass\=person)"
groupMappings=["description\=description","groupName\=cn","user\=uniqueMember"]
groupDefaultObjectClasses=["top","groupOfUniqueNames"]
securityCredential="secret"
userDefaultObjectClasses=["top","person","organizationalPerson","inetOrgPerson"]
companyId="0"
groupsDN="ou\=lrusers,ou\=groups,o\=sevenSeas"
userMappings=["emailAddress\=mail","firstName\=givenName","group\=groupMembership","jobTitle\=title","lastName\=sn","password\=userPassword","screenName\=cn"]
groupSearchFilter="(objectClass\=groupOfUniqueNames)"
contactCustomMappings=""
usersDN="ou\=people,o\=sevenSeas"
userCustomMappings=""
