noSuchUserRedirectURL="https://localhost:6443"
serverName="https://localhost:6443"
loginURL="https://localhost:5443/cas/login"
serviceURL="https://localhost:6443/c/portal/login"
enabled="true"
serverURL="https://localhost:5443/cas"
importFromLDAP="true"
logoutOnSessionExpiration="false"
logoutURL="https://localhost:5443/cas/logout"
